#mybrowser {
  width: 800px;
  height: 600px;
  margin: 1em 1em 0.5em 1em;
  -moz-appearance: none; 
  background-color: #D2D2D2;
}

#wk-addressbar {
  margin-top: 3px;
  width: 70%;
}

#wk-browser {
  border: #FFFFFF solid;
  border-width: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

#wk-blockSearch {
  -moz-appearance: none; 
  background-color: white;
}

#wk-blockResult {
  border-right: 1px solid #000000;
}

#wk-resultat {
  width: 200px;
}

#wk-blockHistory {
  border-right: 1px solid #000000;
}

#wk-history {
  width: 200px;
}

#wk-recherche {
  font-size: 16px;; 
  -moz-appearance: none; 
  -moz-border-radius: 3px;
  border-size: 1px;
  border-style: solid;
  border-color: black;
}

#wk-earth {

  list-style-image : url(chrome://interfacewiki/content/img/wiki/earth.png);
}

#wk-book {

  list-style-image : url(chrome://interfacewiki/content/img/wiki/book.png);
}

#wk-search-button {

  list-style-image : url(chrome://interfacewiki/content/img/wiki/ok.png);
  width : 51px;
  height : 32px;
  padding : 2px;
  cursor:pointer;
}

#wk-searchin-button {

  list-style-image : url(chrome://interfacewiki/content/img/wiki/searchalph02.png);
  width : 51px;
  height : 32px;
  padding : 2px;
  cursor:pointer;
}

#wk-searchinside-button {

  list-style-image : url(chrome://interfacewiki/content/img/wiki/ok.png);
  cursor:pointer;
}

#wk-ok-image {

  margin:0; padding: 0;
  width:30px; height:20px;
  list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_coin_bas_ga.png);
  cursor:pointer;
}

.img-close {

  margin:0;
  margin-top:1px;
  margin-bottom:2px;
  height:15px;
  width:15px;
  cursor:pointer;
  list-style-image : url(chrome://interfacewiki/content/img/wiki/close.png);
}

.lab-titre {

  margin:0;
  margin-top:2px;
  padding: 0;
  height:15px;
  background:url(chrome://interfacewiki/content/img/wiki/barr.png) repeat-x;
  font-family: Verdana;
  font-weight: bold;
}

#wk-gridApplication{
	background: #D2D2D2;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#wk-descriptionSearch{
font-size: 16px;	
font-family: Helvetica;
 	padding-top: 4px;
        font-weight: bold; 
}

#wk-imageWikipedia{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/logowiki.png)
}

/* Images des contours de l'applications. */
#wk-imageHautGauche{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_coin_haut_ga.png);
}
#wk-imageHautMilieu{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_haut_milieu.png);
}
#wk-imageHautDroite{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_coin_haut_dr.png);
}

#wk-imageMilieuGauche{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_milieu_ga.png);
}
#wk-imageMilieuDroite{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_milieu_dr.png);
}

#wk-imageBasGauche{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_coin_bas_ga.png);
}
#wk-imageBasMilieu{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_bas_milieu.png);
}
#wk-imageBasDroite{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/txt_coin_bas_dr.png);
}

/* Images des boutons de navigations de l'applications. */
#wk-precedent{
	list-style-image : url(chrome://interfacewiki/content/img/wiki/precedent01.png);
  cursor:pointer;
}
#wk-precedent:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/precedent02.png);
  cursor:pointer;
}

#wk-suivant {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/suivant01.png);
  cursor:pointer;
}
#wk-suivant:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/suivant02.png);
  cursor:pointer;
}

#wk-home {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/home01.png);
  cursor:pointer;
}
#wk-home:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/home02.png);
  cursor:pointer;
}

#wk-search {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/search01.png);
  cursor:pointer;
}
#wk-search:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/search02.png);
  cursor:pointer;
}

#wk-favorit {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/favori01.png);
  cursor:pointer;
}
#wk-favorit:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/favori02.png);
  cursor:pointer;
}

#wk-print {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/print01.png);
  cursor:pointer;
}

#wk-print:hover {
	list-style-image : url(chrome://interfacewiki/content/img/wiki/print02.png);
  cursor:pointer;
}

vbox {
  -moz-appearance: none; 
  background-color: white;
}