<div style="background-color: Gainsboro; border: solid 1px grey;
border-radius: 5px; text-align: center; width: 100%">Esta es una copia tomada
el <TMPL_VAR NAME=DATE> desde un
[http://en.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&oldid=<TMPL_VAR NAME=REVISION> artículo original de Wikipedia]
(ver la [http://en.wikipedia.org/w/index.php?title=<TMPL_VAR NAME=TITLE>
revisión actual]).
Todo el texto esta disponible bajo la 
[http://creativecommons.org/licenses/by-sa/3.0/deed.es Licencia Creative Commons
Reconocimiento-Compartir bajo la misma licencia]. El texto puede estar también disponible bajo la 
[http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License
Licencia de Documentación Libre GNU]. Ver la
[http://en.wikipedia.org/wiki/Wikipedia:Copyrights Política de Derechos de Autor] para
mayores detalles. Vea la
[http://en.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&action=history página de historial] para la lista de autores. Los archivos
multimedia están disponibles bajo diferentes licencias; haga click en el archivo para mas información.</div>
