<div style="background-color: Gainsboro; border: solid 1px grey;
border-radius: 5px; text-align: center; width: 100%">Esta copia es tomada
de <TMPL_VAR NAME=DATE> desde un
[http://es.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&oldid=<TMPL_VAR NAME=REVISION> articulo original de Wikipedia].
Este articulo fue escrito por
[http://es.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&action=history muchos voluntarios] y esta disponible libremente
bajo la [http://es.wikipedia.org/wiki/GNU_Free_Documentation_License
GFDL].</div>
