<div style="background-color: Gainsboro; border: solid 1px grey;
border-radius: 5px; text-align: center; width: 100%">This is a copy taken
on the <TMPL_VAR NAME=DATE> from an
[http://en.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&oldid=<TMPL_VAR NAME=REVISION> original article on Wikipedia]
(see [http://en.wikipedia.org/w/index.php?title=<TMPL_VAR NAME=TITLE>
current revision]).
All text is available under the
[http://creativecommons.org/licenses/by-sa/3.0/ Creative Commons
Attribution-Share Alike License]. Text may also be available under the
[http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License
GNU Free Documentation License]. See
[http://en.wikipedia.org/wiki/Wikipedia:Copyrights copyright policy] for
further details. See the
[http://en.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&action=history page history] for a list of authors. Media files
are available under different licenses; click the file for more
information.</div>
