<div style="background-color: Gainsboro; border: solid 1px grey; border-radius: 5px; text-align: center; width: 100%">This is a copy taken on the <TMPL_VAR NAME=DATE> from an [http://en.wikipedia.org/w/index.php?title=<TMPL_VAR NAME=TITLE>&oldid=<TMPL_VAR NAME=REVISION> original article on Wikipedia]. This article was written by [http://en.wikipedia.org/w/index.php?title=<TMPL_VAR NAME=TITLE>&action=history many volunteers] and is freely available under the [http://en.wikipedia.org/wiki/GNU_Free_Documentation_License GFDL].</div>
