<div style="background-color: Gainsboro; border: solid 1px grey;
border-radius: 5px; text-align: center; width: 100%">Questa è una copia
della [http://it.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&oldid=<TMPL_VAR NAME=REVISION> voce originale di Wikipedia]
nella versione del <TMPL_VAR NAME=DATE> (vai alla
[http://it.wikipedia.org/w/index.php?title=<TMPL_VAR NAME=TITLE> versione
aggiornata]).
Tutto il testo è disponibile nei termini della
[http://creativecommons.org/licenses/by-sa/3.0/deed.it licenza Creative
Commons Attribuzione-Condividi allo stesso modo]. Il testo può essere
disponibile anche nei termini della
[http://it.wikipedia.org/wiki/Wikipedia:Testo_della_GNU_Free_Documentation_License
licenza GNU Free Documentation License]. Vedi
[http://it.wikipedia.org/wiki/Wikipedia:Copyright le norme in materia di
copyright] per i dettagli. Vedi la
[http://it.wikipedia.org/w/index.php?title=<TMPL_VAR
NAME=TITLE>&action=history cronologia della pagina] per l'elenco degli
autori. I file multimediali sono disponibili secondo i termini di diverse
licenze; clicca sul file per maggiori informazioni.</div>
