version: '3.5'
services:

  qbittorrent:
    image: linuxserver/qbittorrent:4.4.1
    container_name: qbittorrent
    volumes:
      - "${DOWNLOAD_DIRECTORY_PATH:?Specify a DOWNLOAD_DIRECTORY_PATH environment value}:/downloads"
    ports:
      - "${DATA_PORT:-6881}:6881/udp"
      - "${DATA_PORT:-6881}:6881/tcp"
      - "${ADMIN_PORT:-8080}:${ADMIN_PORT:-8080}/tcp"
    environment:
      - WEBUI_PORT=${ADMIN_PORT:-8080}
    restart: always

  qbittorrent-zim-superseeder:
    image: openzim/qbittorrent-zim-superseeder
    container_name: qbittorrent-zim-superseeder
    depends_on:
      - "qbittorrent"
    environment:
      - QBITTORRENT_PORT=${ADMIN_PORT:-8080}
    restart: always

networks:
  default:
    name: qbittorrent-zim-superseeder
