<!DOCTYPE html>
<html{% if language|language_bidi %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{ name }}</title>
        <link rel="icon" href="/hotspot-static/branding/favicon.png">
        <link rel="stylesheet" href="/hotspot-static/font-awesome/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/hotspot-static/main.css" />
        <link rel="stylesheet" type="text/css" href="/hotspot-static/branding/style.css?v1" />
        <style type="text/css">
            .card { padding-right: 64px; background-size: 48px; }
            html[dir='rtl'] .card { padding-right: 10px; padding-left: 140px; }
            {% for card in cards %}
                .card.{{ card.css_class }} { background-image: url("{{ card.css_class }}.png"); }
            {% endfor %}
            .card.khanacademy { background-size: 48px; }
        </style>
    </head>
    <body class="home">
        <header>
            <section>
              <a href="/"><h1><img src="/hotspot-static/branding/logo{% if language|language_bidi %}-rtl{% endif %}.png?v1" /></h1></a>
              <span class="boxid">{{ name }}</span>
            </section>
        </header>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="content">
            {% if main_page %}
            <ul class="text-center">
                {% for lang, name in languages %}
                <li><a href="/{{ lang }}" {% if lang|language_bidi %} dir="rtl"{% endif %}>{{ name }}</a></li>
                {% endfor %}
            </ul>
            {% elif external %}
                {% if language == "fr" %}
                <h1>Lien externe bloqué</h1>
                <p>Les liens vers des sites externe au campus Orange sont bloqués pour vous éviter des frais de connexion imprévus.</p>
                <p>Si vous souhaitez tout de même y accèder, suivez le lien ci-dessous. Pour revenir sur le campus, <strong>faites <em>retour</em></strong>.</p>
                {% elif language == "ar" %}
                <h1>حُظر الرابط الخارجي</h1>
                <p>تحظر حملة أورنج الوصول إلى مواقع خارجية؛ وذلك لمنع أي تكاليفٍ مفاجئة.</p>
                <p>إذا كنت ترغب بالوصول إليه بأية حال، اتبع الرابط أدناه. للعودة إلى الحملة، <strong>ارجع للخلف</strong>.</p>
                {% else %}
                <h1>External link blocked</h1>
                <p>Links to websites external to the Orange Campus are blocked to prevent unexpected connexion fees.</p>
                <p>Should you want to access it anyway, follow the link below. To return to the Campus, <strong>Go <em>back</em></strong>.</p>
                {% endif %}
                <p id="link-placeholder"></p>
            {% else %}
            <div class="pure-g card-container">
                {% for card in cards %}
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4 pure-u">
                        <a href="{{ card.url }}" class="card tinted {{ card.css_class }}">
                          {% if card.fa %}<i class="fa fa-{{ card.fa }} fa-3x"></i>{% endif %}
                          <h4><span>{{ card.title }}</span></h4>
                          <p>{{ card.description|default("", true) }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <footer>
            <div class="row">
                <div class="col third i18n_switch"></div>
                <div class="col half"></div>
            </div>
        </footer>
        <script type="text/javascript">
            function getSearchParams(k){
              var p={};
              location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
              return k?p[k]:p;
            }
            var source = getSearchParams("source");
            if (source && source.length) {
                try { source = decodeURI(source); } catch (err) {}
                var p = document.getElementById("link-placeholder");
                p.innerHTML = '<a class="button" href="' + source + '">' + source + ' <i class="fa fa-external-link"></i></a>';
            }
        </script>
    </body>
</html>
